importClassesFrom(Biobase, AnnotatedDataFrame) 
importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(Biobase, Versioned)
importFrom(limma, contrasts.fit, eBayes, lmFit, makeContrasts, topTable)

exportClasses("MImputedExpressionSets",
              "SmartAnnotatedDataFrame",
              "CombinedMArrayLM",
              "MImputedMArrayLM",
              "AnnotatedDataFrame",
              "ExpressionSet")

export(read.pheno,
       read.maxQuant,
       createExpressionSetFromMaxQuant,
       createExpressionSet)

exportMethods(
      originalNamesCol,
      "originalNamesCol<-",
      sampleNamesCol,
      "sampleNamesCol<-",
      getOriginalNames,
      getSampleNames,
      getAnnotatedDataFrame,
      "["
      )

exportPattern("^[^\\.]")