importClassesFrom(Biobase, AnnotatedDataFrame) 
importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(Biobase, Versioned)
importFrom(limma, contrasts.fit, eBayes, lmFit, makeContrasts, topTable)
importFrom(Biobase, annotation, fData, pData)

exportClasses("MImputedExpressionSets",
              "SmartAnnotatedDataFrame",
              "CombinedMArrayLM",
              "MImputedMArrayLM",
              "AnnotatedDataFrame",
              "ExpressionSet")

export(read.pheno,
       read.maxQuant,
       createExpressionSetFromMaxQuant,
       createExpressionSet)


exportPattern("^[^\\.]")